.digitBox {
  float: left;
}

.row {
  margin: auto;
  width: 40vw;

}

input {
  width: 4vw;
  height: 5vh;
  text-align: center;
}

button {
  margin: auto;
  margin-left: 44vw;
}

.container {
  height: 60vh;

}

body {
  height: 80vh;
}

p {
  margin-left: 43vw;
  font-size: xx-large;
  font-weight: 900;
}